
.container{
    padding: 30px;
}



.search-user{
    width: 100%;
    padding-bottom: 20px;
    color:black;
    border-radius: 10px;
}

.input-search{
    padding: 10px;
    border: 2px solid rgba(0, 0, 0, 0.063);
    border-radius: 10px;
}

.input-search:hover{
    border-color: #E98090;
}


.image-container{
    text-align: center;
}
.image-container img{
    width: 30px;
    padding-bottom: 20px;
}

.border {
    border: 3px solid #FF4D67;
}
