.avatar {
  position: relative;
  width: 3.75rem;
  img {
    width: 100%;
  }
  &.small {
    width: 3rem;
  }
  &.large {
    width: 7.5rem;
  }

  .edit {
    margin: 0.25rem;
    width: 1.875rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
