.editProfilePage {
  & > section {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .uploadAvatar {
      position: relative;
      input {
        position: absolute;
        bottom: 1rem;
        right: -6rem;
        opacity: 0;
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;

      .selectField {
        width: 100%;
        height: 3.625rem;
        border: none;
        padding: 0.5rem;
        background-color: var(--gray-50);
        border-radius: 0.75rem;
        color: var(--gray-500);
      }
      .selectField:hover {
        border: 1px solid var(--primary-red);
        background-color: #ff4d6714;
      }

      input {
        padding: 0 1.25rem;
        // background-color: var(--gray-50);
        border: none;
        border-radius: 0.75rem;
        color: var(--gray-900);
      }
      input:hover {
        border: 1px solid var(--primary-red);
        background-color: #ff4d6714;
      }
    }
    button {
      width: 100%;
      margin-top: 0.5rem;
    }
  }
}
